body {
    background-color: #fff;
    font-family: sans-serif;
    max-width: min(90%, 1000px);
    margin: 0 auto;
}

header {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 25px;
}

header img {
    max-width: min(100%, 300px);
}

hr {
    height: 5px;
    background-color: #ccc;
    color: #ccc;
}

button {
    display: grid;
    margin: 0 auto;
    background-color: #4b2e83;
    border-color: #4b2e83;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #4b2e83;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: grid;
    align-items: center;
}

#sfs-logos {
    display: grid;
    place-items: center;
    grid-gap: 50px;
}

#sfs-logos img {
    width: 100%;
}

/** Mobile and tablet display **/
@media only screen and (max-width: 699) {
    #sfs-logos {
        grid-template-rows: 1fr 1fr;
    }

    #preamble {
        display: grid;
        grid-template-rows: 2fr 1fr;
    }
  }

@media only screen and (min-width: 700px) {
    #sfs-logos {
        grid-template-columns: 1fr 1fr;
    }

    #preamble {
        display: grid;
        grid-template-columns: 1fr 350px;
    }

    #preamble nav {
        grid-column: 2;
        grid-row: 1;
    }
}
