body {
    background-color: #fff;
    font-family: sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    place-items: center;
    text-align: center;
}

header img {
    width: 100%;
    max-width: 500px;
}

hr {
    height: 5px;
    background-color: #ccc;
    color: #ccc;
}

a.button {
    display: grid;
    place-content: center;
    background-color: #4b2e83;
    border-color: #4b2e83;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    margin: 0 auto;
    text-transform: uppercase;
    max-width: 300px;
}

a.button.disabled {
    background-color: #aaa;
    border-color: #aaa;
    cursor: not-allowed;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: #4b2e83;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

.uw nav {
    display: grid;
    align-items: center;
}

.home menu {
  display: grid;
  place-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 0 25px 0;
  font-size: 0.8em;
}

.home li {
  grid-row: 1;
  padding: 10px;
}

#uw-logo {
    max-width: 100px;
}

/** Mobile and tablet display **/
@media only screen and (max-width: 699) {
    #preamble {
        display: grid;
        grid-template-rows: 2fr 1fr;
    }
  }

@media only screen and (min-width: 700px) {
    #preamble {
        display: grid;
        grid-template-columns: 1fr 350px;
    }

    #preamble .uw nav {
        grid-column: 2;
        grid-row: 1;
    }
}
